<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang chủ</h1>
        <p>Trang này hiển thị danh sánh sản phẩm</p>
    
    </div>
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tim san pham">
        <select class="form-control  product-catelogy">
            <option selected disabled>Danh muc</option>
            <option>Quan dai</option>
            <option>Ao</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
               <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465185/item/vngoods_33_465185.jpg?width=320" class="product-image"> 
               <h3 class="product-name">AIRism Cotton Áo Thun Dáng Rộng | Tay Lỡ</h3>
               <p class="product-price"><del>500.000 VND</del> 293.000 VND</p>
               <p class="product-description">Sản phẩm được làm từ chất liệu tái chế</p>
               <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
               </div>
               <div class="product-actions">
                <div class="btn btn-primary">Them vao gio hang</div>
                <span class="space-x"></span>
                <div class="btn btn-success">Mua ngay</div>
               </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
               <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465185/item/vngoods_33_465185.jpg?width=320" class="product-image"> 
               <h3 class="product-name">AIRism Cotton Áo Thun Dáng Rộng | Tay Lỡ</h3>
               <p class="product-price"><del>500.000 VND</del> 293.000 VND</p>
               <p class="product-description">Sản phẩm được làm từ chất liệu tái chế</p>
               <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
               </div>
               <div class="product-actions">
                <div class="btn btn-primary">Them vao gio hang</div>
                <span class="space-x"></span>
                <div class="btn btn-success">Mua ngay</div>
               </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
               <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465185/item/vngoods_33_465185.jpg?width=320" class="product-image"> 
               <h3 class="product-name">AIRism Cotton Áo Thun Dáng Rộng | Tay Lỡ</h3>
               <p class="product-price"><del>500.000 VND</del> 293.000 VND</p>
               <p class="product-description">Sản phẩm được làm từ chất liệu tái chế</p>
               <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
               </div>
               <div class="product-actions">
                <div class="btn btn-primary">Them vao gio hang</div>
                <span class="space-x"></span>
                <div class="btn btn-success">Mua ngay</div>
               </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
               <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465185/item/vngoods_33_465185.jpg?width=320" class="product-image"> 
               <h3 class="product-name">AIRism Cotton Áo Thun Dáng Rộng | Tay Lỡ</h3>
               <p class="product-price"><del>500.000 VND</del> 293.000 VND</p>
               <p class="product-description">Sản phẩm được làm từ chất liệu tái chế</p>
               <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
               </div>
               <div class="product-actions">
                <div class="btn btn-primary">Them vao gio hang</div>
                <span class="space-x"></span>
                <div class="btn btn-success">Mua ngay</div>
               </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
               <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465185/item/vngoods_33_465185.jpg?width=320" class="product-image"> 
               <h3 class="product-name">AIRism Cotton Áo Thun Dáng Rộng | Tay Lỡ</h3>
               <p class="product-price"><del>500.000 VND</del> 293.000 VND</p>
               <p class="product-description">Sản phẩm được làm từ chất liệu tái chế</p>
               <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
               </div>
               <div class="product-actions">
                <div class="btn btn-primary">Them vao gio hang</div>
                <span class="space-x"></span>
                <div class="btn btn-success">Mua ngay</div>
               </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
               <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465185/item/vngoods_33_465185.jpg?width=320" class="product-image"> 
               <h3 class="product-name">AIRism Cotton Áo Thun Dáng Rộng | Tay Lỡ</h3>
               <p class="product-price"><del>500.000 VND</del> 293.000 VND</p>
               <p class="product-description">Sản phẩm được làm từ chất liệu tái chế</p>
               <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
               </div>
               <div class="product-actions">
                <div class="btn btn-primary">Them vao gio hang</div>
                <span class="space-x"></span>
                <div class="btn btn-success">Mua ngay</div>
               </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
               <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465185/item/vngoods_33_465185.jpg?width=320" class="product-image"> 
               <h3 class="product-name">AIRism Cotton Áo Thun Dáng Rộng | Tay Lỡ</h3>
               <p class="product-price"><del>500.000 VND</del> 293.000 VND</p>
               <p class="product-description">Sản phẩm được làm từ chất liệu tái chế</p>
               <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
               </div>
               <div class="product-actions">
                <div class="btn btn-primary">Them vao gio hang</div>
                <span class="space-x"></span>
                <div class="btn btn-success">Mua ngay</div>
               </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
               <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465185/item/vngoods_33_465185.jpg?width=320" class="product-image"> 
               <h3 class="product-name">AIRism Cotton Áo Thun Dáng Rộng | Tay Lỡ</h3>
               <p class="product-price"><del>500.000 VND</del> 293.000 VND</p>
               <p class="product-description">Sản phẩm được làm từ chất liệu tái chế</p>
               <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
               </div>
               <div class="product-actions">
                <div class="btn btn-primary">Them vao gio hang</div>
                <span class="space-x"></span>
                <div class="btn btn-success">Mua ngay</div>
               </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
